/*---- Base Layout----*/

* {
	box-sizing: border-box;
}

body {
	color: $color-primary;
	font: 1.8rem/1.5 'FiraGO-Regular';
	background-color: #ece8ed;
}

img {
	max-width: 100%;
}

h1 {
    font-size: 4.6rem;
	color: $color-secondary;
	font-family: 'FiraGo-SemiBold';
	@include make-font-caps();
}

h2, h3, button {
	font-family: 'FiraGo-SemiBold';
	@include make-font-caps();
}

h4 {
	@include make-font-caps();
}

ul li {
	list-style-type: none;
	font-family: 'FiraGo-SemiBold'; 
	@include make-font-caps();
}

ul {
	padding-left: 0;
}

a {
	text-decoration: none!important;
	color: $color-primary;
	display: block;
}

a:hover {
	text-decoration: none;
}

.text-muted {
	color: #a0a0a0!important;
}