/*---- Base Layout----*/

* {
	box-sizing: border-box;
}

body {
	color: $color-primary;
	font: 1.8rem/1.5 'FiraGO-Regular';
	background-color: #ece8ed;
	user-select: none;
}

img {
	max-width: 100%;
}

h1 {
    font-size: 4.6rem;
	color: $color-secondary;
	font-family: 'FiraGo-SemiBold';
	@include make-font-caps();
}

h2, h3, button {
	font-family: 'FiraGo-SemiBold';
	@include make-font-caps();
}

h4 {
	font-size: 1.6rem;
	@include make-font-caps();
}

ul li {
	list-style-type: none;
	font-family: 'FiraGo-SemiBold'; 
	@include make-font-caps();
}

ul {
	padding-left: 0;
}
  
a {
	text-decoration: none!important;
	color: $color-primary;
	display: block;
}

a:hover {
	text-decoration: none;
}

.text-muted {
	color: #a0a0a0!important;
}

.rotate {
	transform: rotateY(180deg);
} 	

input {
	outline: none;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	width: 15px;
	height: 15px;
	padding: 3px;
	background-clip: content-box;
	border: 1px solid #bbbbbb;
	border-radius: 50%;
   }

   input[type="radio"]:checked {
	background-color: $color-secondary;
	border-color: $color-secondary;
   }

   input[type="radio"]:checked ~ label {
	color: $color-secondary;
	border-color: $color-secondary;
   }