// Web fonts
@mixin font-face($font-family, $file) {
    @font-face {
        font-family: $font-family;
        src: url('#{$path-font}/#{$file}.eot');
        src: url('#{$path-font}/#{$file}.ttf') format('truetype'),
             url('#{$path-font}/#{$file}.woff') format('woff');
    }
}

// vertical centering
@mixin vertical-center() {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
 } 

// Media queries
@mixin mq($break) {
    @if $break == 'xsmall' {
        @media screen and (max-width: $sm) {
            @content;
        }
    }  @else if $break == 'small' {
        @media screen and (min-width: $sm) {
            @content;
        }
    } @else if $break == 'medium' {
        @media screen and (min-width: $md) {
            @content;
        }
    } @else if $break == 'large' {
        @media screen and (min-width: $lg) {
            @content;
        }
    } @else if $break == 'xlarge' {
        @media screen and (min-width: $xlg) {
            @content;
        }
    } @else {
        @error 'No value could be retrieved for `#{break}`';
    }
}

// Special Media queries for header nav li border none
@mixin mqHeaderNav($spbreak) {
    @if $spbreak == 'small' {
        @media screen and (max-width: 476px) {
            @content;
        }
        } @else if $spbreak == 'medium' {
            @media screen and (min-width: 478px) and (max-width: 991px) {
                @content;
            }
        }
}

// Media queries for specific use, with specific brakpoints


// lines around 
@mixin lines-around($width) {
    display: inline-block;

    & div {
        width: $width;
        border-bottom: 2px solid $color-rico-gold;
        margin-bottom: 2px;
    }
}

// Georgian alphabet uppercase
@mixin make-font-caps() {
    -webkit-font-feature-settings: 'case';
    font-feature-settings: 'case' on;
   }

@mixin bussiness-alternatives-divs($img-name) {
    background: url('../images/#{$img-name}.png') no-repeat center/cover;
    border-radius: 10px;
    height: 44rem;
    padding: 0 2rem;
    padding-top: 3rem;
}