// Web fonts path
$path-font: '../fonts';

// colors 
$color-primary: #636363;
$color-secondary: #892e96;
$color-rico-gold: #dfb56e;
$color-rico-dark-gold: #d1aa67;

// Breakpoints
$sm: '560px';
$md: '768px';
$lg: '992px';
$xlg: '1200px';