// Currency
.currency {

    &__value  {
        border-radius: 10px;  
        padding: 2.5rem;
        position: relative;
    } 

    & .currency__table {

        & tr {
            height: 4.7rem;
        }

        & th {
        font-size: 1.6rem;
        }

        & .mute-color {
            color: #a0a0a0;
        }

        & td {
            font-size: 2.2rem;
            color: $color-secondary;
        }
    }

    & .all__courses {
        position: absolute;
        width: 16rem;
        height: 4rem;
        background-color: #fff;
        left: calc(50% - 8rem);
        bottom: -2rem;
        box-shadow: 2px 2px 10px  rgba($color: #000000, $alpha: 1.0);
        border-radius: 10px;
        color: $color-secondary;
        cursor: pointer;
        font-family: 'FiraGo-SemiBold';
        @include make-font-caps();
    }
}

.greek__sendings {
    margin-top: 4rem;
    font-size: 1.6rem;

    & .card {
        position: relative;
    }

    & .card img { 
        border-radius: .5rem;
    }

    & .card-img-overlay {
        margin-left: 30%;
        margin-right: 10%;
    }

    & .percentage {
        position: absolute;
        left: 6.5%;
        @include vertical-center();

        & img {
            width: 100%;
        }

        & span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2.4rem;
        }
    }

    & .card-title {
        font-size: 2.9rem;
        font-weight: bold;
        color: #fff;
    }
}

.currency-lines-wrapper {  
    @include lines-around(3.5rem);
}
