.footer {
    background-color:#fff;
    padding-top: 4rem;
    margin-top: 9rem;
    font-size: 1.4rem;

    & img {
        filter: grayscale(100%)
    }
     
    &__main-nav {
        margin-bottom: 0;
        align-items: center;

        & li {
            font-family: 'Firago-Regular';
            border-left: 1px solid $color-rico-dark-gold;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
        
            &:first-child {
                border: none;
                padding-left: 0;
            }
    
            &:last-child { 
                padding-right: 0;
            } 
        } 
    }

    &__sn-nav {

        & li {
            display: inline-block; 
            padding-left: 2.4rem;
        }

        svg {
            height: 2.4rem;
            width: 2.4rem;
        }
    }

    & span {
        display: block;
        margin-bottom: 1rem;
    }

    &__copy {
        color: $color-secondary;
    }

    &__bottom-lines {
        border-bottom: 2px solid $color-rico-gold;
        margin-bottom: 2px; 
    }
}