.main__mortgage {
    margin-top: 6rem;

    & h2 {
        color: $color-secondary;
        font-size: 2.2rem;
        font-weight: bold;
        @include mq('large') {
            font-size: 2.4rem;
        }
    }
}