.s-and-g {
    margin-top: 7.5rem; 

    &__lines-wrapper {
       @include lines-around(3.5rem); 
    }
    
    &__learn-more {
        font-family: 'FiraGo-SemiBold';
        display: inline-block;
        color: $color-secondary;
        padding: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 9rem; 
        @include make-font-caps();  
    }
}

.transfer-options {
    margin-top: 5rem;

    & li {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        cursor: pointer;
    }
    
    .slide {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        height: 120px; 
        flex-wrap: wrap;
        overflow: hidden;

        & li {
            justify-content: center;
        }
    }

    & .icon-greater {
        height: 3rem;
        width: 2rem;
    }
}